/* stile für die neuseelandreise */

body {
    background-color: silver;

}
header{
    text-align: center;
}
main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

article {
    padding: 1em;
    text-align: justify;
}

article p{
text-align: justify;
line-height: 1.2em;
}

a{
    color:black;

}