/* stile für die neuseelandreise */

body {
    background-color: #eeeeee;
    font-family: Verdana, Arial, Helvetica, sans-serif

}

header {
    text-align: center;
}

.user {
    border-radius: 50%;
}

img.user {
    border-radius: 10%;
    margin-top: -50px;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

banner {
    width: 100%;
}

article {
    padding: 1em;
    text-align: justify;
}

article p {
    text-align: justify;
    line-height: 1.2em;
}

article figure img {
    width: 100%;
}

a {
    color: black;

}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 2em;
}

footer .back {
    float: left;

}

footer .next {
    float: right;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}